@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Vollkorn&display=swap');

*{
  background-color: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="64" height="64"><circle cx="8" cy="8" r="7" fill="black"/></svg>') 8 8, auto;
}

body {
  overflow: auto;
  -webkit-font-smoothing: antialiased; 
}

#logo {
  position: fixed;
  top: 0;
  left: 50%;
  margin: 25px;
  transform: translateX(-50%);
  font-size: 4em; 
  font-family: "obviously-variable", sans-serif;
  line-height: 0.65;
  color:#000000;
  z-index: 1001;
}

#sun {
  /* display: none;  */
  position: fixed !important;
  left: 22%;
  top: 24%;
  width: 85px;
  height: 75px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #FEC230 0%,#FED32E 15%, #FFE72C 25%,#FEE030 50%,#FBB634 75%, #F89736 100%);
  z-index: 500;
}

.sunContainer {
  position:fixed;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: rotate linear infinite;
  z-index: 1000;
}

.turbineBlade {
  position: absolute;
  top: 30%;
  left: 28%;
  width: 120%;  /* Increase for longer blades */
  height: 8px;  /* Adjust the height as per your requirement */
  background: radial-gradient(circle at center, #FEC230 0%,#FED32E 15%, #FFE72C 25%,#FEE030 50%,#FBB634 75%, #F89736 100%);
  transform-origin: 0% 50%;
  z-index: 999;  /* Ensure this is lower than the z-index of #sun */
   /* display: none; */
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#canvasContainer {
  /* display: none; */
  position: absolute;
  left: 0%;
  top: -32%;
  transform: translateX(-50%);
  z-index: 1;
}

.textContainer {
  width: 40%;
  margin-top: 2%;
  margin-left: 30%;
}

@media screen and (max-width: 768px) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  #logo {
    font-size: 2em;  /* Adjusted font-size fosr mobile view */
  }

  #sun {
    width: 30px;  /* Adjusted width for mobile view */
    height: 30px;  /* Adjusted height for mobile view */
  }

  .textContainer {
    width: 90%;  /* Updated width for mobile view */
    margin: 2% auto;  /* Updated margin for mobile view */
  }
}

/* 
h1{
  font-family: "obviously-variable", sans-serif;
  line-height: 0.65;
  color:#000000;
} */

h2{
  font-family: 'Manrope', sans-serif;
  font-size: 1.1em;
  line-height: 1.7;
  color:#000000;
  /* display: none; */
}

@keyframes breathe{
  60%{
    font-variation-settings: "wght" 900;  /* end of animation */
  }

  100%{
    font-variation-settings: "wght" 100; /* begin of animation */
  }
}

.transparent {
  opacity: 0;
}

::-webkit-scrollbar{
  width: 42px;
}

::-webkit-scrollbar-track{
  background-color:white;
}

::-webkit-scrollbar-thumb{
  box-shadow:inset 0px 0px 2vh 0.3vh #d5e5ff;
  background:linear-gradient(to right, yellow 3%, #00f000 70%);
  border-radius:50vh;
  display:inline-block;
  /* padding:1.2vh 1.2vh; */
  text-decoration:none;
}

